<div class="row mb-3">
  <div class="col-12 mt-2">
    <a routerLink="/user/upsert" class="btn btn-success float-right">
      Add User &nbsp;<i class="fa fa-plus-circle"></i>
    </a>
  </div>
</div>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-footer d-flex p-0">
      <ul class="nav nav-pills ml-auto p-2">
        <li class="nav-item"><a (click)="listUsers()" class="nav-link active" href="#tab_1" data-toggle="tab">ALL</a>
        </li>
        <li class="nav-item" *ngFor="let item of itemList">
          <a (click)="getItemValue(item.value)" class="nav-link" href="#tab_1" data-toggle="tab">{{ item.key }}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            User Status<span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="getByRole(currentItemList,true)">Active Users</a>
            <a class="dropdown-item" (click)="getByRole(currentItemList,false)">Inactive Users</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-body pb-0">
      <div class="row">
        <div *ngFor="let u of users"
             class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              User
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>{{ u.userFirstName }} &nbsp; {{ u.userLastName }}</b></h2>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-phone"></i></span> Phone : {{ u.phone }}
                    </li>
                    <li class="small mt-2">
                      <span class="fa-li"><i class="fas fa-address-card"></i></span> address : {{ u.address }}
                    </li>
                    <li class="small mt-2">
                      <span class="fa-li"><i class="fas fa-user-shield"></i></span> User Role :
                      <div class="row">
                        <div *ngFor="let r of u.roles" class="col">
                                              <span *ngIf="r.roleName == 'ROLE_ADMIN'" class="badge badge-success">
                                                {{ r.roleDescription }}
                                              </span>
                          <span *ngIf="r.roleName == 'ROLE_CEO'" class="badge badge-info">
                                                {{ r.roleDescription }}
                                              </span>
                          <span *ngIf="r.roleName == 'ROLE_FUNDER'" class="badge badge-warning">
                                                {{ r.roleDescription }}
                                              </span>
                          <span *ngIf="r.roleName == 'ROLE_WORKER'" class="badge badge-secondary">
                                                {{ r.roleDescription }}
                                              </span>
                          <span *ngIf="r.roleName == 'ROLE_SG'" class="badge badge-primary">
                                                {{ r.roleDescription }}
                                              </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img src="assets/dist/img/user8-128x128.jpg" alt="user-avatar"
                       class="img-circle img-fluid">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a routerLink="/user/upsert/{{u.uuid}}" class="btn btn-info btn-sm">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Edit
                </a>
                <a [ngClass]="!u.active ? 'btn btn-danger btn-sm ml-2 disabled' : 'btn btn-danger btn-sm ml-2'"
                   data-toggle="modal" data-target="#modal-enable" (click)="setIdForModel(u.uuid)">
                  <i class="fas fa-user-times">
                  </i>
                  Disable
                </a>
                <a [ngClass]="u.active ? 'btn btn-success btn-sm ml-2 disabled' : 'btn btn-success btn-sm ml-2'"
                   data-toggle="modal" data-target="#modal-disable" (click)="setIdForModel(u.uuid)">
                  <i class="fas fa-user-check">
                  </i>
                  Enable
                </a>
                <div class="modal fade" id="modal-disable">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">ENABLING</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h6>Are you sure you want to <b>enable</b> this user ? </h6>
                        <h6><b>all his accounts will be enabled</b></h6>
                      </div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button (click)="enableUser()" type="button" data-dismiss="modal" class="btn btn-success">
                          Enable
                        </button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="modal-enable">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">DISABLING</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h6>Are you sure you want to <b>disable</b> this user ? </h6>
                        <h6><b>all his accounts will be disabled</b></h6>
                      </div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button (click)="disableUser()" type="button" data-dismiss="modal" class="btn btn-danger">
                          Disable
                        </button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#">8</a></li>
        </ul>
      </nav>
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->
